html, body {
	font-size: 12px;
	font-family: Arial;
	margin: 0;

	padding: 0;
	text-align: justify;
}

.hoja {

	height: 700px;
	width: 700px;
	margin: auto;
	padding-top: 20px
	vertical-align: center;
	background-image: url('contrato.png');
	background-repeat: no-repeat;
	background-position: center;
}

#contrato {
	font-weight: bold;
	text-align: right;
}

#presentacion {
	font-weight: bold;
}

#articulos {
	list-style: upper-roman outside none;
	margin-left: -24px;
}

.subarticulos {
	list-style: none outside none;
	margin-left: -40px;
	margin-top: 10px;
}

#clausulas-titulo {
	font-weight: bold;
}

.clausulas {
	list-style: none outside none;
	margin-left: -24px;
}

.clausulas li {
	margin-top: 10px;
}

#subclausulas {
	list-style: none outside none;
	margin-left: -40px;
}

#subclausulas li {
	margin-top: 2px;
}


#firmas {
	bottom: 0;
	left: 0
	position: absolute;
	width: 700px;
}

#firmas-tabla {
	margin: auto;
	text-align: center;
	width: 450px;
}

#firmas-tabla th {
	padding-bottom: 75px;
}

#separador {
    width: 100px;
}

#el-smapcal hr, #el-usuario hr {
	width: 150px;
	vertical-align: top;
}