html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background-image: url('contrato.jpg');
}

.pagina {
	width: 700px;
	padding-top: 150px;
	padding-bottom: 100px;
	height: 750px;
	margin: auto;
	

}

.mayusculas {
	text-transform: uppercase;
}

.signo-pesos {
	display: inline-block;
    font-size: 13px;
    text-align: right;
    width: 20px;
}

.suma-monetaria {
	display: inline-block;
	
    margin-right: 10px;
    text-align: right;
    width: 140px;
}




.pagina .desgloce-ingresos {
	margin: auto;
	width: 350px;
}

.pagina .desgloce-ingresos td {
	border: 1px solid #20548E;
	font-size: 13px;
	width: 150px;
}

.pagina .desgloce-ingresos th{
	border-bottom: 0.14em solid #C1C1C1;
	border-left: 0.14em solid #C1C1C1;
	font-size: 15px;
	text-align: justify;
	width: 150px;
	background-color: #C1C1C1;

}

.firmas-autorizacion {
	margin: auto;
	padding-top: 140px;
	width: 100%;
}

.firmas-linea {
	width: 80%;
}

.firmas-nombre {
	text-transform: uppercase;
	text-align: center;
	line-height: 1px;
	font-size: 13px;
}

.firmas-titulo {
	line-height: 1px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

.detalles{
	border-spacing: 0;
	width: 100%;
}

.detalles th{
	border-bottom: 0.14em solid #C1C1C1;
	border-left: 0.14em solid #C1C1C1;
	font-size: 15px;
	background: url('table-back-report.png');

}

.detalles td {
	border: 1px solid #20548E;
	font-size: 13px;
	text-align: center;
}

.numero-tabla {
	text-align: left;


}

.cantidad {
	text-decoration: underline;
	font-weight: bold;
}

.ayuntamiento, .organizacion ,.fecha {
	text-transform: uppercase;
}

.fecha {
	text-align: right;
}

.datos-direccion {
	text-align: center;
}

#content {
	margin: auto;
	width: 700px;
}


#total-final{
	display: inline-block;
    text-align: right;
    width: 100px;
}
