body {
	/*border: 1px solid #000000;
	font-family: arial;*/
	width: 722px;
}

#header {
	width: 100%;
	height: 120px;
	background: url('cabecera.jpg') no-repeat;
}


#content {
    display: block;
    width: 100%;
    min-height: 114px;
}

table {
	border-spacing: 0;
	width: 100%;
}

table th {
	background: #C1C1C1;
	color: #000;
	font-weight: bolder;
	font-size: 11px;
}

#area-datos {
	display: block;
}

.data-row {
    display: block;
    
}

#area-datos th, #area-datos td {
    font-size: 12px;
    width: 25%;
    padding-left: 10px;
}

.table-header {
    background: none repeat scroll 0 0 #C1C1C1;
    border: 3px solid #C1C1C1;
    color: #000000;
    display: inline-block;
    font-size: 12px;
    font-weight: bolder;
    height: 17px;
    padding-left: 10px;
    width: 130px;
}
.data-cell {
    float: left;
    width: 50%;
}

.table-data {
    font-size: 12px;
    padding-left: 10px;
}

#items {
	display: block;
	padding-top: 13px;
	padding-bottom: 12px;
	width: 100%;
}

#items td {
	font-size: 12px;
	
}
.centered { text-align: center; }

.dinero { text-align: right; padding-right: 5px; }

.periodo {
	width: 150px;
}

.cantidad {
  width: 60px;
}

.concepto {
  width: 270px;
}

.precio-unitario, .importe {
  width: 100px;
}

#totales {
	width: 100%;
}

#area-rfc {
	background: url("pie-recibo.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: left;
	height: 150px;
	width: 66%;
}

#area-cantidades {
	width: 32%;
	float: right;
}

#area-cantidades table th {
	font-size: 11px;
	border: 1px solid #C1C1C1;
}

#area-cantidades table td {
	font-size: 12px;
	text-align: right;
	padding-right: 5px;
}

#area-folio {
  font-size: 13px;
  padding-bottom: 4px;
  text-align: right;
}

#area-folio #folio-etiqueta {
	padding-right: 10px;
	font-weight: bold;
}

#area-folio #folio-numero {
	padding-right: 10px;
	font-weight: bold;
	color: red;
}
