body {
	padding: 0;
	margin: 0;
	height: 100%
}

#main {
	
	background-color: rgba(133, 136, 135, 0.14);
}


#bar {
    background-color: #CECECE;
    display: block;
    height: 37px;
    margin: auto;
    position: relative;
    width: 800px;
    z-index: 0;
}

#logo {
	margin: auto;
	width: 800px;
}

#img-logo {
	width: 561px;
	height: 120px;
	float: right;
	background: url('calkini-header.png') no-repeat;;
	background-position-y: 45;
	background-position-x: 10;
}


#gran-total {
    float: right;
    width: 200px;
}

/*	background: #F8F8F8;
	border-radius: 5px;
	border: 1px solid #DBDBDB;
	height: 30px;
	line-height: 25px;
	margin-top: 20pxckground;
	min-width: 120px;
}*/

.centered{
	text-align: center;
}

/*.boton {
	background: #F8F8F8;
	border-radius: 5px;
	border: 1px solid #DBDBDB;
	height: 30px;
	line-height: 25px;
	margin-top: 20pxckground;
	min-width: 120px;
}*/
   
.boton, button, .button, #submit, .submit {
border-top: 1px solid #515354;
   background: #949494;
   background: -webkit-gradient(linear, left top, left bottom, from(#5b5d5e), to(#949494));
   background: -webkit-linear-gradient(top, #5b5d5e, #949494);
   background: -moz-linear-gradient(top, #5b5d5e, #949494);
   background: -ms-linear-gradient(top, #5b5d5e, #949494);
   background: -o-linear-gradient(top, #5b5d5e, #949494);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.boton:hover, button:hover, .button:hover, #submit:hover, .submit:hover  {
   border-top-color: #707375;
   background: #707375;
   color: #e3e3e3;
   }
   
.boton:active, button:active, .button:active, #submit:active, .submit:active {
   border-top-color: #43474a;
   background: #43474a;
   }
   
.error {
	border: 1px solid red;
}

.all-ok {
	border: 1px solid green;
}

.off {
	display: none;
}

#screen {
	position: relative;
	min-height: 100%;
}

#header {
	height: 120px;
}

#footer {
	position: absolute;
	width: 100%;
	height: 120px;
	bottom: 0;
	background-color: #003366
}

#content {
	width: 800px;
	margin: auto;
	padding-bottom: 130px;
	margin-top: 30px;
}

#form-box, .form-box {
    margin: auto;
    width: 750px;
}

#colonias {
	float: left;
	width: 250px;
}

#boton-container {
	float: left;
}

#zonas{
	float: left;
	padding-left: 30px;
	width: 250px;
}

/*#form-box div label {
    display: block;
    width: 250px;
}
*/
#form-box div input[type="text"] {
	/*min-width: 130px;
	border-radius: 5px;*/
	line-height: 20px;
	vertical-align: middle;
}

#form-box input[type="radio"] {
	width: 15px;
	vertical-align: top;
}

/*#form-box button , #report-box button, #form-box div #boton , #form-box div #cancelar {
	background: #F8F8F8;
	border-radius: 5px;
	border: 1px solid #DBDBDB;
	line-height: 25px;
	min-width: 150px;
}*/

#form-box div select {
	width: 200px;
}

#head-sale {
	margin: auto;
	padding-top: 20px;
	width: 700px;
}

#head-sale table, #items table {
	width: 100%;
	border-spacing: 0;
}

#head-sale table td {
	border: 1px solid #F1F1F1;
	padding-left: 20px;
}

#head-sale table th {
	background: #F1F1F1;
	border-spacing: 0;
	font-size: 14px;
	width: 20%;
}

#list-errors {
	color: red;
	font-size: 12px;
	line-height: 20px;
	margin-left: 30px;
}

#nav{
	background-color: #CECECE;
	margin: auto;
	height: 37px;
	width: 800px;
}

#menu{
	margin: 0;
	padding: 0;
	float: left;
}

#menu li{
	font-size: 13px;
	list-style: none;
	float: left;
	border: 1px solid #CECECE;
}

#menu li a {
	display: block;
	background: #CECECE;
	font-size: 14px;
	padding: 9px;
	text-decoration: none;
	width: 113px;
	color: black;
	white-space: nowrap;
	text-align: center;
}

#menu li a:hover{
	background: white;
	color: rgb(219, 19, 27);
	font-weight: bold;
}

#menu li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
}

#menu li ul li {
	display: block;
	float: none;
	background: white;
}

#menu li ul li a {
	/*background: #FFF
	color: rgb(219, 19, 27);*/
	min-width: 150px;
	width: auto;
	font-size: 12px;
}

#menu li ul li a:hover {
	background: #FFF;
	color: rgb(235, 42, 63);
	opacity: 0.91;
}

#report-box{
	margin: auto
}
/*
#report-box input {
	width: 50px;
}*/

#report-box table{
	border-spacing: 0;
	width: 100%;
}

#report-box table th{
	border-bottom: 0.14em solid #C1C1C1;
	border-left: 0.14em solid #C1C1C1;
	font-size: 15px;
	background: url('table-back.png');

}

#report-box table td{
	border: 1px solid #20548E;
	font-size: 13px;
	text-align: center;
}

#select-buttons span {
	float: left;
	margin: 0 30px;
}

#items {
	margin: auto;
	padding: 20px 0;
	width: 700px;
}

#items table {
	border-spacing: 0;
	width: 100%;
}

#items table th {
	background: #F1F1F1;
	border: 1px solid silver;
	width: 20%;
}

#items .number-cell {
	width: 100px;
}

#items .number-content {
	padding-right: 20px;
	text-align: right;
}

#items .period {
	width: 110px;
}

#items .opt {
	width: 50px;
}

#items td {
	font-size: 13px;
}
#totals {
	width: 700px;
	margin: auto;
}

#totals table{
	width: 250px;
	float: right;
}
.total-number {
	width: 122px;
	text-align: right;
	padding-right: 20px;
	
}

.form-row {
	display: table;
}

.normal-row {
    float: left;
    margin-bottom: 20px;
    width: 230px;
}

.normal-row label {
    background: none repeat scroll 0 0 #DB131B;
    color: white;
    display: inline-block;
    font: bold 16px/30px arial;
    margin-top: 20px;
    text-indent: 10px;
    width: 230px;
}

.normal-row input[type="text"] {
    min-width: 200px;
}

.normal-row input, .normal-row select {
    height: 27px;
    margin-left: 10px;
    margin-top: 3px;
    width: 180px
}

#calle {
	width: 150px;
}

#num-int {
	width: 50px
}

.edit-item{
	background-image: url('gtk-edit.png');
}

#table-grid td {
	font-size: 12px
}


#table-grid td input {
    background-image: url("edit.png");
}