<span style='color: #000' title='Frames'>    73</span><span style='color: #009' title='Memory'>  25344.00 KB</span><span style='color: #900' title='Time'>    470.18 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />﻿